{
  "root": true,
  "extends": [
    "eslint:recommended"
  ],
  "parser": "@babel/eslint-parser",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "semi": "error",
    "no-multiple-empty-lines": "error",
    "no-trailing-spaces": "error",
    "padded-blocks": [
      "error",
      "never"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "object-curly-newline": [
      "error"
    ],
    "comma-spacing": "error",
    "indent": [
      "error",
      2
    ],
    "eol-last": [
      "error",
      "always"
    ]
  }
}